body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2em 10% 2em 40px;
    background-color: rgb(190, 233, 233);           
    border: 1px dotted gray;
    padding: 1em;
}

h1, h2{
    border-top: 1px solid gray;
}

h2{
    color: red;

}

table{
    border: 1px solid black;
    border-collapse: collapse;
} 


table tbody td{
    border-bottom:1px solid rgb(69, 219, 23);
    border-right: 1px dotted blue;
    margin: 10px 5px;
    background-color: cadetblue ;
}

table thead{
    border-bottom: 1px solid gray;  
    background-color: bisque;        
}

table thead th{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    padding: 10px;
}

table caption{
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5em;
    color:gray;
}
section > table:hover {
    color:red;
    cursor: pointer;
}

table .resaltar th, .resaltar {
    color: #1100ff;
    border: 1px dotted red;
}

figcaption
{
margin: auto;
}